@import "src/app/styles/mixins";

mat-form-field  {
  width: 100%;
}

.search-icon {
  font-size: 1.5rem;
}

.search-icon :hover {
  cursor: pointer;
}

.icon-close {
  color: $red;
}

h2 {
  color: $primary--color;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}
