<div mat-dialog-content>
  <h2>{{data.title}}</h2>

  <form class="search-form" class="search-bar">
    <mat-form-field>
      <input type="text" matInput [placeholder]="data.placeholder" [(ngModel)]="data.value" [ngModelOptions]="{standalone: true}">
      <span class="search-icon" matSuffix>
        <i class="fas fa-times icon-close" *ngIf="data.value.length > 0" (click)="clear()" aria-label="Clear" matTooltip="Clear" matTooltipPosition="above"></i>
      </span>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="action-buttons">
  <button mat-raised-button aria-label="Cancel" color="warn" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button aria-label="Done" color="success" (click)="onYesClick()">Done</button>
</div>
