<app-heading heading="Welcome to ToDo App"></app-heading>

<div class="page-container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <h1 class="message">
          Welcome to ToDO App.
      </h1>

      <h2 class="message">
        Stay organized and boost your productivity with our user-friendly ToDo App.
        Stay on top of your commitments, set reminders, and enjoy the satisfaction of checking off completed tasks. Start maximizing your efficiency and achieving your goals today with our ToDo App.
      </h2>
    </div>
  </div>
</div>
