<footer>
  <div class="footer-container">
    <div class="footer-section left-section">
      <img src="assets/images/logo.svg" class="logo" alt="logo" />
    </div>
    <div class="footer-section column-section">
      <span>
        Made with <i class="fas fa-heart"></i> by Rohith Poyyeri
      </span>
      <span>
        rohithpoyyeri.com | &#169; {{date}}
      </span>
    </div>

    <div class="footer-section column-section">
      <a href="/about" class="footerBanner" aria-label="About us">About us</a>
			<a href="/terms-and-condition" class="footerBanner" aria-label="Terms and condition">Terms and condition</a>
			<a href="/privacy-policy" class="footerBanner" aria-label="Privacy policy">Privacy policy</a>
    </div>

    <div class="footer-section social-section">
      <a href="https://rohithpoyyeri.com/" target="_blank" rel="nofollow noopener noreferrer" class="footerBanner social-links" aria-label="rohithpoyyeri.com">
				<i class="fas fa-globe"></i>
			</a>
			<a href="https://www.linkedin.com/in/rohithpoyyeri/" aria-label="LinkedIn" target="_blank" rel="nofollow noopener noreferrer" class="footerBanner social-links" aria-label="linkedin">
					<i class="fab fa-linkedin"></i>
			</a>
    </div>
  </div>
</footer>
