@import "src/app/styles/mixins";

mat-checkbox {
  margin-right: 1rem;
}

.todo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  color: $primary--color;
  border-radius: 6px;
  box-shadow: 5px 10px 8px $grey;
}

.todo-details {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include screen('tablet-landscape') {
    flex-direction: column;
  }
}

.delete-todo {
  color: $red;
  margin-left: 1rem;
  cursor: pointer;
  float: right;

  @include screen('tablet-landscape') {
    float: right;
  }
}

.todo-timestamps {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
}
